:root {
    --bg-main: #edede9;
    --bg-body: #f5ebe0;
    --color-txt: #6d6875;
    --border-color: #b7b7a4;
    --filled-color: #000;
    --filled-bg: #caf0f8;
    --grid-bg: #cb997e;
    --cell-bg: #fff;

    --white: #fff;
    --blue: #a5a58d;
    --red: #e5989b;
    --black: #000;

    --sudoku-cell-size: 50px;

    --nav-size: 80px;
    --border-radius: 4px;
    --space-y: 20px;
    --gap: 5px;

    --font-main: 'Press Start 2P';
    --font-size-sm: 0.7rem;
    --font-size: 1rem;
    --font-size-lg: 1.5rem;
}

.dark {
    --bg-main: #181825;
    --bg-body: #1e1e2e;
    --color-txt: #cdd6f4;
    --border-color: #89b4fa;
    --grid-bg: #313244;
    --cell-bg:#1e1e2e;
    --blue: #89dceb;
    --red: #c48bf3;
    --filled-color: #fff;
    --filled-bg: #2a2a38;
}

.blueberry {
    --bg-body: #1a1c2c;
    --bg-main: #252a40;
    --color-txt: #b2b9e1;
    --border-color: #3d446b;
    --blue: #5d689e;
    --red: #e06c75;
    --grid-bg: #11121d;
    --cell-bg: #1a1c2c;
}

.sage {
    --bg-body: #f1f7ed;
    --bg-main: #cbe894;
    --color-txt: #465c2f;
    --border-color: #7a9163;
    --blue: #606c38;
    --red: #bc4749;
    --grid-bg: #a3b18a;
    --cell-bg: #f1f7ed;
}

.matcha {
    --bg-body: #f1f7ed;
    --bg-main: #e2efc7;
    --color-txt: #465c2f;
    --border-color: #a3b18a;
    --blue: #606c38;
    --red: #bc4749;
    --grid-bg: #ccd5ae;
    --cell-bg: #fefae0;
}

.pink {
    --bg-body: #fff1f2;
    --bg-main: #ffe4e6;
    --color-txt: #9f1239;
    --border-color: #fda4af;
    --blue: #fb7185;
    --red: #e11d48;
    --grid-bg: #fecdd3;
    --cell-bg: #fff;
}

.honey {
    --bg-body: #fff9ec; 
    --bg-main: #f9eecd;   
    --color-txt: #7a5c32;
    --border-color: #d4a373;
    --blue: #bc6c25;
    --red: #d62828;
    --grid-bg: #f4d35e; 
    --cell-bg: #fff9ec;
}

.lavender {
    --bg-body: #f3f0ff;
    --bg-main: #e5dbff;
    --color-txt: #5b21b6;
    --border-color: #b197fc;
    --blue: #9775fa;
    --red: #ff8787;
    --grid-bg: #d0bfff;
    --cell-bg: #fff;
}

.polar {
    --bg-body: #f0fafa;   
    --bg-main: #d1eeee;   
    --color-txt: #2d5a5a;
    --border-color: #8fbdbd;
    --blue: #4f9a94;
    --red: #ff6b6b;
    --grid-bg: #a3cccc;   
    --cell-bg: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-main);
    color: var(--color-txt);
    user-select: none;
    transition: background-color 0.4s ease, color 0.4s ease;
    background-image: 
        linear-gradient(var(--border-color) 1px, transparent 1px),
        linear-gradient(90deg, var(--border-color) 1px, transparent 1px);
    background-size: 50px 50px;
    background-color: var(--bg-body);
}

.desktop-icons {
    position: absolute;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.icon-item i {
    font-size: 3rem;
    color: var(--blue);
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1);
}

.icon-label {
    font-size: 0.6rem;
    background: var(--bg-main);
    padding: 2px 5px;
    border: 1px solid var(--border-color);
}

.start-window {
    width: 350px;
    box-shadow: 15px 15px 0px rgba(0,0,0,0.1);
}

.start-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-main);
    border-bottom: 3px solid var(--black);
    z-index: 100;
}

.game-header {
    grid-column: 1 / 4;
    grid-row: 1;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--bg-main);
    border: 4px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 
        inset -4px -4px 0px 0px rgba(0,0,0,0.1),
        4px 4px 0px 0px rgba(0,0,0,0.05);
    margin-bottom: 10px;
}

.logo {
    font-size: var(--font-size-lg);
    color: var(--blue);
}

.header-center {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: var(--font-size-sm);
}

.player-info {
    font-size: var(--font-size-sm);
    color: var(--color-txt);
    border-right: 2px solid var(--border-color);
    padding-right: 5px;
    margin-right: 5px;
}

#player-name-display {
    color: var(--blue);
    text-transform: uppercase;
}

.header-right {
    display: flex;
    gap: 10px;
}

.theme-dropdown {
    position: relative;
}

.theme-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    background-color: var(--bg-main);
    border: 4px solid var(--black);
    z-index: 1000;
    width: 120px;
    box-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.theme-menu.active {
    display: block;
}

.theme-opt {
    padding: 10px;
    cursor: pointer;
    font-size: 0.7rem;
}

.theme-opt:hover {
    background-color: #7a777262;
    color: white;
}

.theme-menu-container {
    width: 100%;
    position: relative; 
}

.theme-popup {
    position: absolute;
    bottom: 115%;
    right: 0;
    background: var(--bg-main);
    border: 3px solid var(--border-color);
    box-shadow: 4px 4px 0px var(--border-color);
    display: none;
    flex-direction: column;
    z-index: 2100;
    animation: sidePop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 5px;
}

.theme-popup.active {
    display: flex;
}

@keyframes sidePop {
    0% { transform: scale(0.5) translateX(20px) translateY(100px); opacity: 0; }
    100% { transform: scale(1) translateX(0) translateY(); opacity: 1; }
}

.theme-popup .theme-opt {
    padding: 12px;
    font-size: 0.7rem;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid var(--border-color);
}

.theme-popup .theme-opt:hover {
    background-color: var(--blue);
    color: var(--color-txt);
}

.btn-theme-toggle {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pixel-btn {
    font-family: var(--font-main);
    font-size: 0.6rem;
    padding: 8px 12px;
    cursor: pointer;
    background: var(--bg-main);
    border: 3px solid var(--black);
    box-shadow: 3px 3px 0 var(--black);
    color: var(--color-txt);
}

.pixel-btn:active {
    box-shadow: 0 0 0;
    transform: translate(2px, 2px);
}

/* name input */
input {
    font-family: var(--font-main);
    border: 2px solid var(--bg-main);
    color: var(--color-txt);
}

input:hover,
input:focus {
    border-color: var(--blue);
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

nav {
    background-color: var(--bg-body);
    color: var(--color-txt);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 2px var(--bg-main);
    z-index: 99;
}

.nav-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: var(--nav-size);
}

.nav-logo {
    font-size: var(--font-size-lg);
    color: var(--blue);
}

.dark-mode-toggle {
    color: var(--blue);
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.bxs-sun {
    display: none;
}

.bxs-moon {
    display: inline-block;
}

.dark .bxs-sun {
    display: inline-block;
}

.dark .bxs-moon {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    min-height: 100vh;
    padding-bottom: 40px;
}

.screen {
    position: relative;
    width: 100%;
    max-width: 1250px;
    height: 80vh;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    overflow: visible;
}

.main-game, .start-screen {
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}

.start-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.start-screen.active {
    transform: translateX(0);
    display: flex;
}

.start-input-box {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.input-name {
    background-color: var(--bg-main);
    border: 3px solid var(--border-color);
    border: 4px;
    box-shadow: inset 4px 4px 0px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    font-size: var(--font-size-lg);
    height: 80px;
    width: 280px;
    outline: 0;
    padding: 20px;
    text-align: center;
}

.input-name:focus {
    border-color: var(--blue);
    transform: translateY(-2px);
    box-shadow: inset 4px 4px 0px rgba(0,0,0,0.05), 0px 5px 15px rgba(0,0,0,0.1);
}

.input-confirm-anim {
    animation: pulseSuccess 0.5s;
}

@keyframes pulseSuccess {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); border-color: var(--blue); }
    100% { transform: scale(1); }
}

.btn {
    height: 50px;
    width: 280px;
    background-color: var(--bg-main);
    color: var(--color-txt);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    cursor: pointer;
    border: 3px solid var(--border-color);
    box-shadow: 4px 4px 0px var(--border-color);
    font-size: var(--font-size);
    font-family: var(--font-main);
}

.btn:active {
    transform: scale(0.95) translateY(2px);
    box-shadow: 0px 0px 0px var(--border-color) !important;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.input-err {
    border-color: var(--red);
    animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

.side-panel {
    background: var(--bg-main);
    border: 4px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 
        inset -4px -4px 0px 0px rgba(0,0,0,0.1),
        4px 4px 0px 0px rgba(0,0,0,0.05);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.panel-label {
    font-size: var(--font-size-sm);
    margin-bottom: 10px;
}

.side-panel.music-panel {
    grid-column: 1;
    grid-row: 2;
}

.music-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.music-header {
    font-size: 0.6rem;
    letter-spacing: 2px;
    opacity: 0.7;
}

.track-info {
    background: var(--grid-bg);
    padding: 8px;
    border-radius: 4px;
    border: 2px solid var(--border-color);
    overflow: hidden;
    color: var(--cell-bg); 
}

#current-track {
    font-size: 0.6rem;
    display: block;
}

.music-progress-container {
    width: 100%;
    height: 8px;
    background: var(--bg-body);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}

.music-progress-bar {
    width: 45%;
    height: 100%;
    background: var(--blue);
}

.side-panel.number-panel {
    grid-column: 3;
    grid-row: 2;
}

.music-panel-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.music-controls {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.mini-btn {
    flex: 1;
    font-family: inherit;
    font-size: 0.9rem;
    background: var(--bg-main);
    border: 2px solid var(--border-color);
    cursor: pointer;
    padding: 4px 8px;
    box-shadow: 2px 2px 0px var(--border-color);
}

.mini-btn:active {
    box-shadow: 0px 0px 0px;
    transform: translate(2px, 2px);
}

.side-panel, .game-header, .main-grid-cell {
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.main-game {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.main-game.active {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: auto;
    padding: 10px;
    grid-template-rows: auto 1fr; 
    grid-template-columns: 200px 1fr 200px;
}

.game-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.sudoku-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    box-shadow: 
        inset -4px -4px 0px 0px rgba(0,0,0,0.1),
        4px 4px 0px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
}

.main-sudoku-grid {
    display: grid;
    padding: 10px;
    gap: var(--gap);
    grid-template-columns: repeat(9, auto);
    border: 8px solid var(--border-color);
    background-color: var(--grid-bg);
    border-radius: 4px;
}

.main-grid-cell {
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-main);
    color: var(--blue);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.main-grid-cell.filled {
    background-color: var(--filled-bg);
    color: var(--filled-color);
}

.main-grid-cell.selected {
    background-color: var(--blue);
    color: var(--white);
}

.main-grid-cell:hover {
    border: 2px solid var(--blue);
}

.main-grid-cell.hover {
    border: 3px solid var(--blue);
}

.dark .main-grid-cell.hover {
    border: 1px solid var(--blue);
}

.main-grid-cell.err {
    background-color: var(--red);
    color: var(--white);
}

.number-grid {
    display: grid;
    background-color: var(--border-color);
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border: 4px solid #292724;
    border-radius: 7px;
    gap: 10px;
}

.number {
    width: 50px;
    height: 50px;
    background: var(--white);
    border: 2px solid var(--black);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.number.delete {
    background: var(--red);
    color: white;
}

.icon-btn{
    background: var(--bg-main);
    border: 3px solid var(--border-color);
    color: var(--color-txt);
    cursor: pointer;
    font-family: inherit;
    font-size: 0.8rem;
    padding: 2px 8px;
    box-shadow: 2px 2px 0px var(--border-color);
    transition: transform 0.1s;
}

.icon-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px;
}

.numbers {
    margin-top: var(--space-y);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.number {
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-main);
    color: var(--color-txt);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.delete {
    background-color: var(--red);
    color: var(--white);
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.pause-grid {
    display: flex;
    gap: 10px;
    width: 100%;
}

.pause-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(2px);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.pause-screen.active {
    display: grid;
}

.pause-screen.exit-anim .os-window {
    animation: zoomOut 0.3s forwards cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes zoomOut {
    from { transform: scale(1); opacity: 1; }
    to { transform: scale(0.9); opacity: 0; }
}

.os-window{
    width: 320px;
    background: var(--bg-main);
    border: 4px solid var(--border-color);
    box-shadow: 8px 8px 0px rgba(0,0,0,0.15);
    border-radius: 4px;
    animation: zoom-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% { transform: scale(0.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.os-header {
    background: var(--border-color);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.os-buttons {
    display: flex;
    gap: 2px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dot.red { background: #ff5f56; }
.dot.yellow { background: #ffbd2e; }
.dot.green { background: #27c93f; }

.os-title {
    color: var(--bg-main);
    font-size: 0.6rem;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    pointer-events: none;
}

.os-content  {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pause-status {
    font-size: 1rem;
    color: var(--color-txt);
}

.pause-stats {
    background: var(--bg-body);
    width: 100%;
    padding: 10px;
    border: 2px solid var(--border-color);
    font-size: 0.7rem;
    text-align: center;
}

.pause-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}



@media only screen and (max-width: 800px) {
    :root {
        --nav-size: 50px;

        --sudoku-cell-size: 30px;

        --border-radius: 5px;

        --space-y: 10px;

        --gap: 2px;

        --font-size: 1rem;
        --font-size-lg: 1.5rem;
        --font-size-xl: 2rem;
    }

    .main-grid-cell.hover {
        border-width: 2px;
    }

    .screen {
        min-width: unset;
    }

    .main {
        height: 100vh;
    }
}